@font-face {
    font-family: 'montserratbold';
    src:url('fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src:url('fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src:url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}