body {
display: block;
margin: 0;
}

.wrap {
margin: auto;
height: 900px;
background-image: linear-gradient(to right, black 32%, white 32%, white 68%);}

.header {display: flex;justify-content: space-between;margin-bottom: 59px;}

.header-box {
width: 32%;
display: flex;
justify-content: space-between;
}

.header-box__logo {
position: relative;
display: block;
padding: 36px 0;
padding-left: 53px;
font: 30px/36px montserratmedium, arial, helvetica, sans-serif;
color: #FFF;
}

.header-container {
display: flex;
width: 72px;
justify-content: flex-start;
}

.header-container__language {
font: 20px/24px montserratmedium, arial, helvetica, sans-serif;
color:#FFF;
padding: 43px 0;
}

.header-container__arrow {
margin-top: 50px;
margin-left: 8px;
width: 8px;
height: 7px;
border-top: 2px solid #FFF;
border-right: 2px solid #FFF;
transform: rotate(135deg);}

.header__nav {
display: block;
width: 92px;
height: 92px;
background: #ebe9e9;
}

.menu__button {
display: block;
cursor: pointer;
padding: 38px 0 0 28px;
}

.menu__checkbox {
display: none;
}

.menu__button > span,
.menu__button > span::before {
display: block;
position: relative;
width: 34px;
height: 3px;
background-color: #000000;
}

.menu__button > span::before {
content: '';
top: 10px;
width: 34px;
}

.main {height: 64%;display: flex;justify-content: space-between;margin-bottom: 71px;}

.photo {width: 51%;height: 98%;background: no-repeat url(img/mask_group.svg);background-size: contain;background-position: center;margin-left: 130px;}

.home-page {display: flex;flex-direction: column;align-items: unset;margin-right: 22px;}

.home-page__header {font: 82px/81px montserratbold, arial, helvetica, sans-serif;font-weight: bold;margin-top: 17%;margin-bottom: 7px;}

.home-page__paragraph {font: 17px/21px montserratmedium, arial, helvetica, sans-serif;max-width: 467px;margin-top: 7px;margin-bottom: 38px;}

.buttons {
display: block;
}

.buttons__button {margin-right: 46px;display: inline-block;font: 15px/ 21px montserratmedium, arial, helvetica, sans-serif;width: 203px;height: 44px;border: 1.5px solid #000000;line-height: 44px;font-size: 13px;text-decoration: none;color:#000;text-align: center;}

.buttons__link {margin-right: 13px;display: inline-block;font:14px/14px montserratmedium, arial, helvetica, sans-serif;width: 172px;color: #000;text-decoration: none;}



.buttons__arrow div {margin-bottom: 4px;display: inline-block;position: relative;width: 43px;height: 1px;background-color: #000;}

.buttons__arrow div::after {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: -2px;
right: -2px;
background-color: #000;
transform: rotate(45deg);
}

.buttons__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.group {
display: flex;
justify-content: space-between;    
}

.social-network {
display: flex;
justify-content: space-between;
}

.social-network__instagram {margin-left: 52px;margin-right: 12px;display: block;background: url(Img/INST.png);width: 43px;height: 43px;}

.social-network__vk {margin-right: 12px;display: block;background: url(Img/VK.png);width: 43px;height: 43px;}

.social-network__fb {
display: block;   
background: url(Img/FB.png);
width: 43px;
height: 43px;    
}

.group__scrool {margin-right: 204px;background: no-repeat url(Img/Rectangle\ 8.svg) center , no-repeat url(Img/Rectangle\ 9.svg) center top 10px;width: 27px;height: 46px;}

.wrapper {
display: flex;    
margin: 0;    
height: 900px; 
background: #FAE8E4;   
}

.container {display:flex;justify-content: space-around;width: 95%;}

.photo-bags {width: 96%;background:no-repeat url(Img/10511040_001\ 2.1.svg) bottom 28px left 232px, no-repeat url(Img/gray.svg) bottom 276px left 125px;}

.container__base {display: flex;flex-direction: column;align-items: center;background-color:#FFF;height: 556px;width: 53%;margin-top: 167px;border-right: 25px;}

.container__base__header {display: block;font: 44px/38px montserratbold, arial, helvetica, sans-serif;font-weight: bold;margin: 50px 38px 10px 0px;}

.container__base__line {display: block;font: 19px/23px montserratbold, arial, helvetica, sans-serif;font-weight: bold;color: #000;opacity: 0.5;margin-bottom: 59px;margin-right: 159px;}

.container__base__paragraph {display: block;font:16px/21px montserratmedium, arial, helvetica, sans-serif;color: #000;max-width: 368px;opacity: 0.5;margin-bottom: 44px;margin-right: 10px;}

.btn-shopping {display: flex;justify-content: space-between;width: 100%;margin-bottom: 86px;}

.btn-shopping__quantity {display: inline-block;font: 15px/0px montserratmedium, arial, helvetica, sans-serif;width: 100px;height: 44px;line-height: 44px;border: 1.5px solid #000000;box-sizing: border-box;text-decoration: none;color:#000;text-align: center;margin-left: 53px;}

.btn-shopping__button {display: inline-block;font: 14px/0px montserratmedium, arial, helvetica, sans-serif;width: 253px;height: 44px;line-height: 44px;border: 1.5px solid #000000;box-sizing: border-box;text-decoration: none;color:#000;text-align: center;margin-right: 66px;}  

.buttons-ref__link {font:14px/15px montserratmedium, arial, helvetica, sans-serif;color: #000;text-decoration: none;margin-right: 15px;}
    
.buttons-ref__arrow div {position: relative;display: inline-block;width: 241px;height: 1px;background-color: #000;margin-bottom: 7px;}

.buttons-ref {display: flex;width: 100%;}

.buttons-ref__arrow div::after {content: '';position: absolute;width: 7px;height: 1px;top: -2px;right: -2px;background-color: #000;transform: rotate(45deg);}
    
.buttons-ref__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.circle {display: flex;width: 76%;background: no-repeat url(img/1990₽.svg) right;margin-bottom: 56px;margin-right: 38px;}

.circle__white {display: block;width: 30px;height: 30px;background: #DEDEDE;border-radius: 50%;margin-top: 8px;margin-left: 13px;margin-right: 12px;}

.circle__pink {display: block;width: 38px;height: 38px;background: #F29F9F;border-radius: 50%;margin-right: 12px;margin-top: 4px;}

.circle__blue {display: block;width: 30px;height: 30px;background: #A8BFF9;border-radius: 50%;margin-right: 12px;margin-top: 8px;}

.circle__green {width: 30px;height: 30px;background:#90BD8F;margin-top: 8px;border-radius: 50%;}

.wrappering {
margin: auto;
height: 900px;    
background: linear-gradient(to right,#EBE3D8 27%, #000 27%, #000 32%, #EBE3D8 32%);
}

.content {display: flex;width: 100%;height: 97%;}

.photo__goods {background: no-repeat url(Img/photo-1516762689617-e1cffcef479d.svg) top 138px left 88px;width: 87%;/* z-index: 1; *//* position: relative; */}

.content__rectangle {display: flex;flex-direction: column;align-items: center;width: 50%;height: 40%;background: #FAE8E4;margin-top: 255px;margin-right: 149px;/* z-index: 2; *//* position: relative; */}

.content__rectangle__header {
font: 40px/40px montserratbold, arial, helvetica, sans-serif;
font-weight: normal;     
}

.content__rectangle__line {
font: 16px/16px montserratbold, arial, helvetica, sans-serif;
font-weight: normal; 
opacity: 50%;   
}

.content__rectangle__paragraph {
font: 15px/21px montserratregular, arial, helvetika, sans-serif;  
opacity: 50%;  
}

.content__rectangle__quantity {
display: inline-block;
margin-top: 55px;
margin-left: 55px;
font: 15px/0px montserratmedium, arial, helvetica, sans-serif;    
width: 100px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;    
}

.content__rectangle__button {
display: inline-block;
margin-top: 49px;
margin-left: 10px;
font:13px/0px montserratmedium, arial, helvetica, sans-serif; 
width: 253px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;
}

.content__link {
font:13px/15px montserratmedium, arial, helvetica, sans-serif;
color: #000;
text-decoration: none; 
}

.content__arrow div {
position: relative;
width: 108px;
height: 1px;
background-color: #000;
}
        
.content__arrow div::after {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: -2px;
right: -2px;
background-color: #000;
transform: rotate(45deg);
}
        
.content__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.content__footer {
font: 12px/14px montserratbold, arial, helvetica, sans-serif;
font-weight: normal;
text-decoration: none;
color: #000;  
top: 300px;   
}

.main__title-text_highlight {
background: #FFD22E;    
}

