body {
display: block;
margin: 0;  
}

.wrap {
margin: auto;
height: 900px;
background-image: linear-gradient(to right, black 32%, white 32%, white 68%);}

.header {
margin: auto;
display: flex;
justify-content: space-between;
}

.header-box {
width: 461px;
display: flex;
justify-content: space-between;
}

.header-box__logo {
padding: 36px 0;
padding-left: 53px;
font: 30px/36px montserratmedium, arial, helvetica, sans-serif;
color: #FFF;
}

.header-container {
display: flex;
width: 72px;
justify-content: flex-start;
}

.header-container__language {
font: 20px/24px montserratmedium, arial, helvetica, sans-serif;
color:#FFF;
padding: 43px 0;
}

.header-container__arrow {
margin-top: 50px;
margin-left: 8px;
width: 8px;
height: 7px;
border-top: 2px solid #FFF;
border-right: 2px solid #FFF;
transform: rotate(135deg);}

.header__nav {
display: block;
width: 92px;
height: 92px;
background: #ebe9e9;
}

.menu__button {
display: block;
cursor: pointer;
padding: 38px 0 0 28px;
}

.menu__checkbox {
display: none;
}

.menu__button > span,
.menu__button > span::before {
display: block;
position: relative;
width: 34px;
height: 3px;
background-color: #000000;
}

.menu__button > span::before {
content: '';
top: 10px;
width: 34px;
}

.main {
display: flex;    
justify-content: space-around;
background: no-repeat url(Img/mask_group.svg);  
}

.photo {
display: block;    
}

.home-page {
display: block;
width: 488px;
height: 556px;
left: 785px;
top: 41px;
}

.home-page__header {
font: 92px/83px montserratbold, arial, helvetica, sans-serif;
font-weight: bold; 
margin-bottom: 9px; 
margin-left: 4px;  
}

.home-page__paragraph {
font: 17px/21px montserratmedium, arial, helvetica, sans-serif;  
max-width: 467px; 
margin: 10px 0 37px 3px; 
}

.home-page__button {
display: inline-block;    
font: 15px/ 21px montserratmedium, arial, helvetica, sans-serif;
width: 203px;
height: 44px;
border: 1.5px solid #000000;
line-height: 44px;
font-size: 13px;
text-decoration: none;
color:#000;
text-align: center;
}

.home-page__link {
display: inline-block;
margin-left: 49px;
font:14px/14px montserratmedium, arial, helvetica, sans-serif;
width: 172px;
color: #000;
text-decoration: none; 
}

.home-page__arrow {
cursor: pointer;
width: 75px;
height: 48px;
}

.home-page__arrow div {
position: relative;
bottom: 24px;
width: 43px;
height: 1px;
background-color: #000;
left: 448px;
display: block;
}

.home-page__arrow div::after {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: -2px;
right: -2px;
background-color: #000;
transform: rotate(45deg);
}

.home-page__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.group {
display: flex;
margin-top: 24px;    
}

.group__instagram {
display: flex;
margin-left: 52px;
background: url(Img/INST.png);    
width: 43px;  
height: 43px;
}

.group__vk {
display: flex;
margin-left: 12px;
background: url(Img/VK.png);
width: 43px; 
height: 43px;   
}

.group__fb {
display: flex;
margin-left: 12px;
background: url(Img/FB.png);
width: 43px;
height: 43px;    
}

.group__scrool {
display: flex;
margin-left: 502px;
background: no-repeat url(Img/Rectangle\ 8.svg) center , no-repeat url(Img/Rectangle\ 9.svg) center top 10px;
width: 27px; 
height: 46px;   
}

.wrapper {
display: flex;    
margin: auto;    
height: 900px; 
background: #FAE8E4;   
}

.container {
display:flex; 
background:no-repeat url(Img/10511040_001\ 2.1.svg) bottom 28px left 232px, no-repeat url(Img/gray.svg) bottom 276px left 125px;
padding-right: 15px;
}

.container__base {
display: block;
position: relative;
width: 488px;
height: 556px;
background-color:#FFF;
left: 879px;
top: 169px;
}

.container__base__header {
display: block;
font: 44px/38px montserratbold, arial, helvetica, sans-serif; 
font-weight: bold;
margin-top: 48px;
margin-left: 56px;
margin-bottom: 8px;
color: #000; 
}

.container__base__line {
display: block;    
font: 19px/23px montserratbold, arial, helvetica, sans-serif;
font-weight: bold;
color: #000; 
margin-left: 54px;
margin-bottom: 61px;
opacity: 0.5;
}

.container__base__paragraph {
display: block;    
font:16px/21px montserratmedium, arial, helvetica, sans-serif;
color: #000;
margin-left: 52px;
margin-bottom: 38px;
max-width: 368px;
opacity: 0.5;
}

.container__base__quantity {
display: inline-block;
margin-top: 55px;
margin-left: 55px;
font: 15px/0px montserratmedium, arial, helvetica, sans-serif;    
width: 100px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;
}

.container__base__button {    
display: inline-block;
margin-top: 49px;
margin-left: 10px;
font:13px/0px montserratmedium, arial, helvetica, sans-serif; 
width: 253px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;
}  

.container__link {
font:14px/15px montserratmedium, arial, helvetica, sans-serif;
color: #000;
top: 765px;
left: 395px;
text-decoration: none;    
}

.container__arrow {
cursor: pointer;
position: relative;
width: 75px;
height: 48px;
}
    
.container__arrow div {
top: 772px;
width: 241px;
height: 1px;
background-color: #000;
left: 408px;
}
    
.container__arrow div::after {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: -2px;
right: -2px;
background-color: #000;
transform: rotate(45deg);
}
    
.container__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.circle {
display: flex; 
margin-left: 55px;
margin-right: 75px;
background: no-repeat url(Img/1990₽.svg) right;
}

.circle__white {
display: block; 
margin-top: 16px;
position: relative;
width: 30px;
height: 30px;
background: #DEDEDE; 
border-radius: 50%;   
}

.circle__pink {
display: block;   
margin-left: 12px; 
margin-top: 11px;
position: relative;
width: 38px;
height: 38px;
background: #F29F9F; 
border-radius: 50%;     
}

.circle__blue {
display: block; 
margin-left: 12px;   
margin-top: 15px;
position: relative;
width: 30px;
height: 30px;
background: #A8BFF9; 
border-radius: 50%;      
}

.circle__green {
display: block;
margin-left: 12px; 
margin-top: 15px;   
position: relative;
width: 30px;
height: 30px;
background:#90BD8F; 
border-radius: 50%;     
}

.wrappering {
margin: auto;
height: 900px;    
background: linear-gradient(to right,#EBE3D8 27%, #000 27%, #000 32%, #EBE3D8 32%);
}

.content {
display: flex; 
padding-top: 408px;
background: no-repeat url(Img/photo-1516762689617-e1cffcef479d.svg) top 138px left 88px; 
background-size: 827px 621px;  
}

.content__rectangle {
display: block;
position: relative;
width: 475px;
height: 351px;
background: #FAE8E4;
left: 818px;
bottom:153px;
}

.content__rectangle__header {
font: 40px/40px montserratbold, arial, helvetica, sans-serif;
font-weight: normal;     
}

.content__rectangle__line {
font: 16px/16px montserratbold, arial, helvetica, sans-serif;
font-weight: normal; 
opacity: 50%;   
}

.content__rectangle__paragraph {
font: 15px/21px montserratregular, arial, helvetika, sans-serif;  
opacity: 50%;  
}

.content__rectangle__quantity {
display: inline-block;
margin-top: 55px;
margin-left: 55px;
font: 15px/0px montserratmedium, arial, helvetica, sans-serif;    
width: 100px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;    
}

.content__rectangle__button {
display: inline-block;
margin-top: 49px;
margin-left: 10px;
font:13px/0px montserratmedium, arial, helvetica, sans-serif; 
width: 253px;
height: 44px;
line-height: 44px;
border: 1.5px solid #000000;
box-sizing: border-box;
text-decoration: none;
color:#000;
text-align: center;
}

.content__link {
font:13px/15px montserratmedium, arial, helvetica, sans-serif;
color: #000;
top: 765px;
left: 395px;
text-decoration: none; 
}

.content__arrow {
cursor: pointer;
position: relative;
width: 75px;
height: 48px;    
}

.content__arrow div {
position: relative;
top: 400px;
width: 108px;
height: 1px;
background-color: #000;
left: 408px;
}
        
.content__arrow div::after {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: -2px;
right: -2px;
background-color: #000;
transform: rotate(45deg);
}
        
.content__arrow div::before {
content: '';
position: absolute;
width: 7px;
height: 1px;
top: 2px;
right: -2px;
background-color: #000;
transform: rotate(-45deg);
}

.content__footer {
font: 12px/14px montserratbold, arial, helvetica, sans-serif;
font-weight: normal;
text-decoration: none;
color: #000;  
top: 300px;   
}

.main__title-text_highlight {
background: #FFD22E;    
}

